.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #243650;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
img.image {
    width: 200px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a.three-three {
    font-size: 17px;
    box-shadow: rgb(0 0 0 / 1%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    width: 35px;
    height: 35px;
    margin-left: 50px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}
a.add {
    font-size: 17px;
    margin-right: auto;
    box-shadow: rgb(0 0 0 / 1%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    width: 50px;
    height: 35px;
    margin-left: 2px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    background: #50950c;
    margin-top: 10px;
}
a.user {
    font-size: 17px;
    box-shadow: rgb(0 0 0 / 1%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    width: 35px;
    height: 35px;
    margin-left: 2px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    padding: 18px;
}
.background-img {
    background-image: url(assets/images/city.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
  }
.inquiry {
    background: #3636c2;
    width: 400px;
    height: 150px;
    text-align: center;
    margin-top: -150px;
}
.inquiry h6 {
    color: white;
    font-weight: 100;
    padding-top: 50px;
    font-size: 20px;
}
.inquiry i {
    color: white;
    font-size: 22px;
    font-weight: 900;
}
.imgg img {
    border-radius: 0px;
}
.telephonic img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.telephonic {
    text-align: center;
    box-shadow: rgb(0 0 0 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
}
.details h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 20px;
}
.details p {
    font-weight: 500;
    color: slategray;
    font-family: sans-serif;
}
.number span {
    font-weight: 500;
    font-family: sans-serif;
}
hr:not([size]) {
    height: 1px;
    margin-top: 10px;
    color: lightgray;
}
.number span a {
    text-decoration: none;
    color: black;
}
.icons a {
    padding: 6px;
}
h1.contact-us {
    margin-left: 30px;
    font-weight: 700;
    font-family: sans-serif;
}
p.paragraph {
    margin-left: 30px;
    font-size: 17px;
    margin-top: 17px;
    color: gray;
    font-weight: 500;
    font-family: sans-serif;
}
.form-outline {
    margin-left: 30px;
    margin-top: 50px;
}
button.btn  {
    background: #3636c2;
    margin-left: 30px;
    color: white;
    border-radius: 0px;
    margin-top: 10px;
}
button.btn:hover {
    color: white;
    background: #242458;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
section.section-three {
    margin-top: -53px;
}
div#accordion {
    margin-left: 30px;
}
.card {
    border: none;
   
    border-radius: 0px;
}
.card-header {
    background: white;
}
img.question {
    width: 25px;
}
a.btn {
    font-size: 25px;
    font-weight: 600;
}
.card-body {
    margin-left: 45px;
    color: dimgray;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}






img{
    width: 6.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto;
}
.col-md-4{
    padding:0  0.5rem;
}
.card-title{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC';
}
.card-text{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem;
}
.footer{
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: 'Varela Round';
}
#name {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
#position {
    font-size: 13px;
    font-family: sans-serif;
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}
p.neque {
    font-size: 16px;
    color: gray;
    font-weight: 600;
    font-family: sans-serif;
}
.numberial span a {
    text-decoration: none;
    color: #00000085;
}
.numberial.mt-3 {
    font-size: 15px;
    font-weight: 500;
}
hr.testinomials {
    color: darkslategray;
}
.coins a {
    padding: 10px;
    font-size: 15px;
}
.testinomials-period {
    background: #d3d3d352;
    height: 550px;
}


.card {
    background: #27030300;
}
a.coins {
    text-decoration: none;
}
.all-futer {
    background: #010122;
    height: 370px;
}
.futer a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-left: 30px;
    font-weight: 700;
    font-family: sans-serif;
}
span.pro {
    background: #2c742c;
    margin-left: 18px;
    font-size: 27px;
    border-radius: 7px;
    text-align: center;
    padding: 3px;
    font-family: sans-serif;
}
.futer p {
    color: #ffffffb0;
    margin-left: 30px;
    font-size: 21px;
    margin-top: 15px;
    font-family: sans-serif;
}
.futer h3 {
    color: white;
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 20px;
}
img.download {
    width: 80px;
    border-radius: 5px;
}
.list-inline li {
  padding: 0 2px;
}
.list-inline i {
  font-size: 14px;
  color: #ffdc12;
}
.addition h1 {
    font-size: 22px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 1px;
}
span.burger {
    color: #236d23;
    margin-left: 45px;
    font-weight: 700;
    font-size: 26px;
    font-family: sans-serif;
    white-space: nowrap;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: 50px;
}
p.last-para {
    color: #ffffffc2;
    font-size: 16px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.touch p {
    color: #ffffffc2;
    font-size: 22px;
    margin-top: 26px;
    font-family: sans-serif;
    font-weight: 600;
}
.touch h1 {
    font-size: 22px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 1px;
}
button.contact-us {
    background: #099c09db;
    color: white;
    height: 55px;
    font-family: sans-serif;
    border-radius: 7px;
    margin-top: 15px;
    /* width: 119px; */
    font-size: 20px;
    font-weight: 700;
}
button.contact-us:hover {
   background: white;
   color: #099c09db;
}
.touch p {
    color: #ffffffc2;
    font-size: 20px;
    margin-top: 26px;
    font-family: sans-serif;
    font-weight: 600;
}
.ait-copyright {
    background: #040432;
    height: 55px;
    padding-top: 17px;
}
.copyright h5 {
    color: white;
    font-weight: 100;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: 30px;
}
span.all-right {
    color: #ffffff94;
    margin-left: 10px;
}
.footer-links a {
    text-decoration: none;
    margin-left: 35px;
    color: white;
    font-family: sans-serif;
    /* padding-left: 34px; */
}
.footer-links {
    margin-left: 140px;
}





@media only screen and (max-width: 600px) {
  div#navbarSupportedContent {
    background: aliceblue;
}
img.image {
    width: 160px;
}
.navbar-light .navbar-toggler {
    margin-top: -25px;
}
img.image {
    margin-top: -15px;
}
.navbar-light .navbar-nav .nav-link {
    padding: 7px;
    margin-left: -16px;
}
a.three-three {
    margin-left: 0px;
}
a.add {
    margin-left: 38px;
    margin-top: -35px;
}
.inquiry {
    margin-left: -5px;
    width: 360px;
}

section.section-two {
    margin-top: -55px;
}
h1.contact-us {
    margin-left: 20px;
}
p.paragraph {
    margin-left: 20px;
}
input#form3Example1 {
    margin-left: -10px;
}
input#form3Example3 {
    margin-left: -15px;
}
textarea#form4Example3 {
    margin-left: -15px;
}
.btn:hover {
    margin-left: -26px;
}
a.btn {
    font-size: 15px;
    margin-left: -26px;
}
.card-body {
    margin-left: 10px;
}
.testinomials-period {
    background: #d3d3d352;
    height: 100%;
}
.all-futer {
    height: 100%;
}
.addition h1 {
    margin-left: 20px;
}
.futer a {
    margin-left: 20px;
}
.futer p {
    margin-left: 20px;
}
.futer h3 {
    margin-left: 20px;
    font-size: 17px;
}
img.download {
    margin-left: 20px;
}
span.burger {
    margin-left: 122px;
    }
    .list-inline {
    margin-left: 120px;
}
p.last-para {
    margin-left: 20px;
}
.touch h1{
  margin-left: 20px;
}
.touch p{
  margin-left: 20px;
}
button.contact-us{
  margin-left: 20px;
}
.copyright h5 {
    font-size: 14px;
    margin-left: 5px;
    padding: 7px;
}
.footer-links {
    margin-left: -36px;
    margin-top: 14px;
    font-size: 8px;
}
.ait-copyright {
    height: 107px;
  }
  button.btn {
    margin-left: 20px;
 }
 section.section-three {
    margin-top: -53px;
}
.footer-links a {
    margin-left: 30px;
}